<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar
      (keydown.enter)="doSearch()"
      [formControl]="inputCtrl"
      animated="true"
      placeholder="Buscar"
    ></ion-searchbar>
  </ion-toolbar>
  @if (showLoading()) {
  <ion-progress-bar type="indeterminate" />
  }
</ion-header>

<ion-content>
  <ion-list>
    @for (item of results(); track item) {
    <ion-item> {{item.vector.metadata.title}} </ion-item>
    }
  </ion-list>
</ion-content>
