<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Code Llama</ion-title>
    @if (showLoading()) {
    <ion-progress-bar type="indeterminate" />
    }
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Code Llama</ion-title>
      @if (showLoading()) {
      <ion-progress-bar type="indeterminate" />
      }
    </ion-toolbar>
  </ion-header>
  @if (messages().length === 0) {
  <ion-note>No messages yet</ion-note>
  } @else {
  <ion-list>
    @for (message of messages(); track message) {
    <ion-item>
      <ion-text>{{message}}</ion-text>
    </ion-item>
    }
  </ion-list>
  }

</ion-content>

<ion-footer class="ion-padding">
  <div class="flex space-x-2">
    <ion-input (keydown.enter)="sendMessage()" [formControl]="textareaCtrl" placeholder="Say hello" />
    <ion-button (click)="sendMessage()">
      <ion-icon slot="icon-only" name="send"></ion-icon>
    </ion-button>
  </div>
</ion-footer>
