---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

type Props = CollectionEntry<'portfolio'>['data'];
const { title, image, description, pubDate } = Astro.props;
---

<article class="relative flex min-w-0 flex-col transition-transform duration-300 ease-out hover:scale-[1.03]">
  <img
    src={image}
    width={500}
    height={500}
    alt={title}
    class="aspect-video w-full object-cover"
    loading="lazy"
    decoding="async"
  />
  <div class="flex flex-1 flex-col bg-zinc-300 p-6 text-left dark:bg-zinc-900">
    <h3 class="heading-5 mb-2 font-bold text-white">{title}</h3>
    <p class="line-clamp-3 text-black dark:text-white">{description}</p>
  </div>
</article>
