---
import Base from '@layouts/Base.astro';
import ProjectCard from '@components/ProjectCard.astro';
import { getCollection } from 'astro:content';

const privateProjects = await getCollection('portfolio', ({ data }) => {
  return data.type === 'private' && !data.draft;
});
const privateItems = privateProjects.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const publicProjects = await getCollection('portfolio', ({ data }) => {
  return data.type === 'public' && !data.draft;
});
const publicItems = publicProjects.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<Base meta_title='Porfolio' image='og_porfolio_v1.jpg'>
  <h2 class="mb-4 text-2xl font-bold">My Porfolio</h2>
  <section class="grid w-full max-w-screen-2xl gap-8 sm:grid-cols-2 lg:gap-10 xl:grid-cols-3">
    {
      privateItems.map((project) => (
        <a class="flex h-full flex-col " href={`/portfolio/${project.slug}#content`} data-astro-prefetch>
          <ProjectCard {...project.data} />
        </a>
      ))
    }
  </section>
  {
    publicItems.length > 0 && (
      <>
        <h2 class="my-10 text-2xl font-bold">Open Source Projects</h2>
        <section class="grid w-full max-w-screen-2xl gap-8 sm:grid-cols-2 lg:gap-10 xl:grid-cols-3">
          {publicItems.map((project) => (
            <a class="flex h-full flex-col " href={`/portfolio/${project.slug}#content`} data-astro-prefetch>
              <ProjectCard {...project.data} />
            </a>
          ))}
        </section>
      </>
    )
  }
</Base>
